DEBUG=True
BATCH_SIZE=10000
CHUNK_SIZE = 10000

ES_URL=http://elasticsearch:9200
TIME_DELTA = 10

PYTHONPATH=/app/simple_project/

PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for everyone"

SECRET_KEY=SECRET_KEY

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=pg_db
POSTGRES_PORT=5432
POSTGRES_OPTIONS=-c search_path=public,content

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=pg_db
DB_PORT=5432

INDEX_NAME=movies

# Superuser settings
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@admin.admin
